body{
 font-size:large;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 position: relative;
}
.main{
    position: relative;
    width: 100%;
    height: 100px;

}
a{
    color: rgb(137, 23, 172);
    font-size: larger;
}
a:hover{
    color: #5FEEF4;
}
.logo{
    position: absolute;
    /*background-image: url('img/logo.png'); -->  Esta parte no me dió*/
    padding: 10px;
}
.link{
    position: absolute;
    right: 50px;
    top:45px;
    padding: 10px;
}
.linkForm{
    position: absolute;
    right: 50px;
    top:15px;
    padding: 10px;
}
.container{
    position: relative;
    padding: 5%;
    width: 80%;
}
.about{
    position: absolute;
    padding: 20px;
}
p{
    text-align: justify;
}
.hello{
    width: 100px;
    height: 100px;
    /* background-image:url('/img/hello.png'); -->  Esta parte no me dió*/
    position: fixed;
    right: 120px;
    bottom: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}
table, tr, th, td {
    border: 3px solid #5FEEF4;
    border-collapse: collapse;
    text-align: center;
}
th,h2{
    color: rgb(137, 23, 172);
}
button{
    background-color: rgb(137, 23, 172);
    color: #5FEEF4;
    width: 90px;
    height: 40px;
    font-size:medium;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}
button:hover{
    background-color:#5FEEF4;;
    color: rgb(137, 23, 172);
}
input:focus{
    box-shadow: 0px 0 5px #5FEEF4;
}