*{
    font-family: 'Roboto';
}

body{
    width: 1440px;
    margin:auto;
}

.nav{
    display:flex;
    justify-content:flex-end;
    margin-top: 35px;
    align-items: center;
    flex-wrap: wrap;
}

.nav_languages{
    height:21px;
}

.svg-icon{
    background-color: #6366F1;
    border-radius: 50%;
    width: 50px;
    height:50px;
    margin-right:250px;
    margin-left:54px;
}

.nav_dropdown-button{
    background-color:transparent;
    color: black;
    line-height: 21px;
    font-size: 18px;
    border: none;
    outline: none;
}
.nav_dropdown-button_img{
    margin-left:13px;
    width:14px;
    height:7,64px;
    align-items: center;
}

.nav_dropdown_button_content {
    display: none;
    background-color: #f1f1f1;
    height:21px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav_dropdown_button_content a {
    color: black;
    font-size:18px;
    height:21px;
    text-decoration: none;
    padding: 1px 6px;
    display: block;
}

.nav_dropdown_button_content a:hover {background-color: #ddd;}

.nav_languages:hover .nav_dropdown_button_content {display: block;}

.nav_languages:hover .nav_dropdown-button {background-color: #ddd;}

.header{
    display:flex;
    margin-top: 56px;
    justify-content: flex-end;
    align-items:center;
}


.header_decorative{
    align-self: flex-start;
}

.header_profile img{
    margin-left: -103px;
    border:4px solid rgba(99, 102, 241, 0.8);
    box-sizing: border-box;
    border-radius: 30px;
}

.header_text{
    width: 283px;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.01em;
    margin-left: 25px;
    margin-right: 433px;
    font-size: 30px;
    font-weight:bold;
    line-height: 35px;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.8);
    display:flex;
    flex-direction:column;
    align-items: flex-start;
}

.header_container{
    display: flex;
    align-items: center;
    margin-top: 44px;
}

.header_scrolldown_button{
    border: none;
    outline: none;
    background-color: transparent;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.01em;
}

.header_scrolldown_button:active{
    background-color: rgb(211, 206, 206);
}

.header_scrolldown_button:hover{
    cursor: pointer;
}

.header_scrolldown_button_img{
    margin-left: 10.16px;
}

.header_text_subtext{
    position: relative;
}

.header_text_subtext::before{
    position:absolute;
    top:58px;
    left:-242px;
    content:"";
    width: 266px;
    height: 13px;
    background: rgba(99, 102, 241, 0.3);
    border-radius: 18px;
}

.section{
    display:flex;
    margin-top: 178px;
    justify-content: flex-start;
    flex-direction: column;
}

.section_title{
    height:42px;
}

.section_title h2{
    width:160px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.8);
    margin-top:0px;
    margin-bottom: 0px;
    margin-left:250px;
}

.line::after{
    position: absolute;
    margin-top: 21px;
    margin-left: 39.99px;
    content:"";
    width: 98.02px;
    height:5px;
    background:#6366F1;
}

.section_aboutme{
    margin-top: 20px;
    display: flex;
    align-items: center;

}
.section_aboutme_text{
    font-size:15px;
    margin-top:0px;
    width:630px;
    height:130px;
    margin-left:250px;
    line-height: 127%;
    margin-bottom: 0px;
}

.section_aboutme_button{
    border:0px;
    outline:none;
    background-color: #6366F1;
    border-radius: 25px;
    color:white;
    width: 210px;
    height: 44px;
    margin-left: 100px;
}

button:active{
    background-color:#5e60e7
}